target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/src/main/java/com/sdm/messenger/
/src/main/resources/velocity.properties
/src/main/resources/log4j.properties
/src/main/resources/setting.properties