#*
    Document   : auth-message
    Created on : 11-Jan-2017, 13:56:37
    Author     : Htoonlin
*#

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Activate Account</title>
    </head>
    <body>
        <div
            style="box-shadow: 3px 3px 5px #666; border: 1px solid #dabb74; border-radius: 3px; margin: 28px; font-family: arial;">
            <div
                style="color: #c35a00; background-color: #fbf2db; border-bottom: 1px solid #c5a456; padding: 20px 50px; text-align: center;">
                <h1
                    style="margin: 20px 50px 10px; font-size: 21px; border-bottom: 3px solid #c97800; padding-bottom: 20px; font-weight: 500;">ACTIVATE
                    YOUR ACCOUNT</h1>
                <p>Thanks for your registration!</p>
            </div>
            <div
                style="margin: 20px 50px; padding: 28px 50px; background: #FFF; font-size: 11pt;">
                <p>
                    Hi <i>$user</i>,
                </p>
                <p>Please click the following link to activate your account:</p>
                <p style="margin: 25px 0px;">
                    <a
                        href="$token_url"
                        style="text-decoration: none; color: #fff; padding: 8px 20px; background: #FF7500; border: 1px solid #EA9D2A; font-weight: bold;">
                        Click here to activate your account now! </a>
                </p>
                <p>
                    This activation button will be expired in next <b>$expire</b>
                    minutes.
                </p>
                <code style="color: #f55735;">"Never give up to be a warrior."</code>
            </div>
            <div
                style="color: #bfbbb9; background-color: #fbf2db; border-top: 1px solid #c5a456; padding: 20px 50px; text-align: center; font-size: 10pt;">
                <p>
                    Copyright © 2011 - $current_year by <a
                        style="color: #71bcff; text-decoration: none; font-size: 10pt;"
                        href="http://www.sundewmyanmar.com">SUNDEW MYANMAR</a>. <br>
                    All rights reserved.
                </p>
            </div>
        </div>
    </body>
</html>